.git
.github
node_modules
dist
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
mysql-data
redis-data
docs
backend/vendor
backend/storage/logs
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views
